<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.EasyConfirmDataMapper">
  <resultMap id="BaseResultMap" type="com.chen.entity.EasyConfirmData">
    <!--@mbg.generated-->
    <!--@Table easy_confirm_data-->
    <id column="easy_confirm_data_id" jdbcType="BIGINT" property="easyConfirmDataId" />
    <id column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="white_id" jdbcType="INTEGER" property="whiteId" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="id_tp" jdbcType="VARCHAR" property="idTp" />
    <result column="crd_no" jdbcType="VARCHAR" property="crdNo" />
    <result column="oprt_tp" jdbcType="VARCHAR" property="oprtTp" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="crdt_aply_no" jdbcType="VARCHAR" property="crdtAplyNo" />
    <result column="stgs_num" jdbcType="VARCHAR" property="stgsNum" />
    <result column="stgs_amt" jdbcType="VARCHAR" property="stgsAmt" />
    <result column="ccy" jdbcType="VARCHAR" property="ccy" />
    <result column="mthlyly_pymnt_amt" jdbcType="VARCHAR" property="mthlylyPymntAmt" />
    <result column="fee" jdbcType="VARCHAR" property="fee" />
    <result column="stgs_aplctn_frm_no" jdbcType="VARCHAR" property="stgsAplctnFrmNo" />
    <result column="frc_fee_rt_dsct_cfcnt" jdbcType="VARCHAR" property="frcFeeRtDsctCfcnt" />
    <result column="instl_type" jdbcType="VARCHAR" property="instlType" />
    <result column="txn_src" jdbcType="VARCHAR" property="txnSrc" />
    <result column="seq_no1" jdbcType="VARCHAR" property="seqNo1" />
    <result column="seq_no2" jdbcType="VARCHAR" property="seqNo2" />
    <result column="seq_no3" jdbcType="VARCHAR" property="seqNo3" />
    <result column="seq_no4" jdbcType="VARCHAR" property="seqNo4" />
    <result column="anlintrstrat" jdbcType="VARCHAR" property="anlintrstrat" />
    <result column="rate_num" jdbcType="VARCHAR" property="rateNum" />
    <result column="ori_fee" jdbcType="VARCHAR" property="oriFee" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="ddctn_amt" jdbcType="VARCHAR" property="ddctnAmt" />
    <result column="bank_card_date" jdbcType="TIMESTAMP" property="bankCardDate" />
    <result column="agng_pd_pcdr_fee" jdbcType="VARCHAR" property="agngPdPcdrFee" />
    <result column="pcdr_fee_fee_rt" jdbcType="VARCHAR" property="pcdrFeeFeeRt" />
    <result column="each_prd_fee" jdbcType="VARCHAR" property="eachPrdFee" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    easy_confirm_data_id, create_time, white_id, id_no, id_tp, crd_no, oprt_tp, apply_time, 
    crdt_aply_no, stgs_num, stgs_amt, ccy, mthlyly_pymnt_amt, fee, stgs_aplctn_frm_no, 
    frc_fee_rt_dsct_cfcnt, instl_type, txn_src, seq_no1, seq_no2, seq_no3, seq_no4, anlintrstrat, 
    rate_num, ori_fee, detail, `status`, ddctn_amt, bank_card_date, agng_pd_pcdr_fee, 
    pcdr_fee_fee_rt, each_prd_fee
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from easy_confirm_data
    where easy_confirm_data_id = #{easyConfirmDataId,jdbcType=BIGINT}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from easy_confirm_data
    where easy_confirm_data_id = #{easyConfirmDataId,jdbcType=BIGINT}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" keyColumn="easy_confirm_data_id" keyProperty="easyConfirmDataId" parameterType="com.chen.entity.EasyConfirmData" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into easy_confirm_data (create_time, white_id, id_no, 
      id_tp, crd_no, oprt_tp, 
      apply_time, crdt_aply_no, stgs_num, 
      stgs_amt, ccy, mthlyly_pymnt_amt, 
      fee, stgs_aplctn_frm_no, frc_fee_rt_dsct_cfcnt, 
      instl_type, txn_src, seq_no1, 
      seq_no2, seq_no3, seq_no4, 
      anlintrstrat, rate_num, ori_fee, 
      detail, `status`, ddctn_amt, 
      bank_card_date, agng_pd_pcdr_fee, pcdr_fee_fee_rt, 
      each_prd_fee)
    values (#{createTime,jdbcType=TIMESTAMP}, #{whiteId,jdbcType=INTEGER}, #{idNo,jdbcType=VARCHAR}, 
      #{idTp,jdbcType=VARCHAR}, #{crdNo,jdbcType=VARCHAR}, #{oprtTp,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{crdtAplyNo,jdbcType=VARCHAR}, #{stgsNum,jdbcType=VARCHAR}, 
      #{stgsAmt,jdbcType=VARCHAR}, #{ccy,jdbcType=VARCHAR}, #{mthlylyPymntAmt,jdbcType=VARCHAR}, 
      #{fee,jdbcType=VARCHAR}, #{stgsAplctnFrmNo,jdbcType=VARCHAR}, #{frcFeeRtDsctCfcnt,jdbcType=VARCHAR}, 
      #{instlType,jdbcType=VARCHAR}, #{txnSrc,jdbcType=VARCHAR}, #{seqNo1,jdbcType=VARCHAR}, 
      #{seqNo2,jdbcType=VARCHAR}, #{seqNo3,jdbcType=VARCHAR}, #{seqNo4,jdbcType=VARCHAR}, 
      #{anlintrstrat,jdbcType=VARCHAR}, #{rateNum,jdbcType=VARCHAR}, #{oriFee,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{ddctnAmt,jdbcType=VARCHAR}, 
      #{bankCardDate,jdbcType=TIMESTAMP}, #{agngPdPcdrFee,jdbcType=VARCHAR}, #{pcdrFeeFeeRt,jdbcType=VARCHAR}, 
      #{eachPrdFee,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="easy_confirm_data_id" keyProperty="easyConfirmDataId" parameterType="com.chen.entity.EasyConfirmData" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into easy_confirm_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="whiteId != null">
        white_id,
      </if>
      <if test="idNo != null">
        id_no,
      </if>
      <if test="idTp != null">
        id_tp,
      </if>
      <if test="crdNo != null">
        crd_no,
      </if>
      <if test="oprtTp != null">
        oprt_tp,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="crdtAplyNo != null">
        crdt_aply_no,
      </if>
      <if test="stgsNum != null">
        stgs_num,
      </if>
      <if test="stgsAmt != null">
        stgs_amt,
      </if>
      <if test="ccy != null">
        ccy,
      </if>
      <if test="mthlylyPymntAmt != null">
        mthlyly_pymnt_amt,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="stgsAplctnFrmNo != null">
        stgs_aplctn_frm_no,
      </if>
      <if test="frcFeeRtDsctCfcnt != null">
        frc_fee_rt_dsct_cfcnt,
      </if>
      <if test="instlType != null">
        instl_type,
      </if>
      <if test="txnSrc != null">
        txn_src,
      </if>
      <if test="seqNo1 != null">
        seq_no1,
      </if>
      <if test="seqNo2 != null">
        seq_no2,
      </if>
      <if test="seqNo3 != null">
        seq_no3,
      </if>
      <if test="seqNo4 != null">
        seq_no4,
      </if>
      <if test="anlintrstrat != null">
        anlintrstrat,
      </if>
      <if test="rateNum != null">
        rate_num,
      </if>
      <if test="oriFee != null">
        ori_fee,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="ddctnAmt != null">
        ddctn_amt,
      </if>
      <if test="bankCardDate != null">
        bank_card_date,
      </if>
      <if test="agngPdPcdrFee != null">
        agng_pd_pcdr_fee,
      </if>
      <if test="pcdrFeeFeeRt != null">
        pcdr_fee_fee_rt,
      </if>
      <if test="eachPrdFee != null">
        each_prd_fee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="whiteId != null">
        #{whiteId,jdbcType=INTEGER},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="idTp != null">
        #{idTp,jdbcType=VARCHAR},
      </if>
      <if test="crdNo != null">
        #{crdNo,jdbcType=VARCHAR},
      </if>
      <if test="oprtTp != null">
        #{oprtTp,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crdtAplyNo != null">
        #{crdtAplyNo,jdbcType=VARCHAR},
      </if>
      <if test="stgsNum != null">
        #{stgsNum,jdbcType=VARCHAR},
      </if>
      <if test="stgsAmt != null">
        #{stgsAmt,jdbcType=VARCHAR},
      </if>
      <if test="ccy != null">
        #{ccy,jdbcType=VARCHAR},
      </if>
      <if test="mthlylyPymntAmt != null">
        #{mthlylyPymntAmt,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=VARCHAR},
      </if>
      <if test="stgsAplctnFrmNo != null">
        #{stgsAplctnFrmNo,jdbcType=VARCHAR},
      </if>
      <if test="frcFeeRtDsctCfcnt != null">
        #{frcFeeRtDsctCfcnt,jdbcType=VARCHAR},
      </if>
      <if test="instlType != null">
        #{instlType,jdbcType=VARCHAR},
      </if>
      <if test="txnSrc != null">
        #{txnSrc,jdbcType=VARCHAR},
      </if>
      <if test="seqNo1 != null">
        #{seqNo1,jdbcType=VARCHAR},
      </if>
      <if test="seqNo2 != null">
        #{seqNo2,jdbcType=VARCHAR},
      </if>
      <if test="seqNo3 != null">
        #{seqNo3,jdbcType=VARCHAR},
      </if>
      <if test="seqNo4 != null">
        #{seqNo4,jdbcType=VARCHAR},
      </if>
      <if test="anlintrstrat != null">
        #{anlintrstrat,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="oriFee != null">
        #{oriFee,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ddctnAmt != null">
        #{ddctnAmt,jdbcType=VARCHAR},
      </if>
      <if test="bankCardDate != null">
        #{bankCardDate,jdbcType=TIMESTAMP},
      </if>
      <if test="agngPdPcdrFee != null">
        #{agngPdPcdrFee,jdbcType=VARCHAR},
      </if>
      <if test="pcdrFeeFeeRt != null">
        #{pcdrFeeFeeRt,jdbcType=VARCHAR},
      </if>
      <if test="eachPrdFee != null">
        #{eachPrdFee,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.entity.EasyConfirmData">
    <!--@mbg.generated-->
    update easy_confirm_data
    <set>
      <if test="whiteId != null">
        white_id = #{whiteId,jdbcType=INTEGER},
      </if>
      <if test="idNo != null">
        id_no = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="idTp != null">
        id_tp = #{idTp,jdbcType=VARCHAR},
      </if>
      <if test="crdNo != null">
        crd_no = #{crdNo,jdbcType=VARCHAR},
      </if>
      <if test="oprtTp != null">
        oprt_tp = #{oprtTp,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crdtAplyNo != null">
        crdt_aply_no = #{crdtAplyNo,jdbcType=VARCHAR},
      </if>
      <if test="stgsNum != null">
        stgs_num = #{stgsNum,jdbcType=VARCHAR},
      </if>
      <if test="stgsAmt != null">
        stgs_amt = #{stgsAmt,jdbcType=VARCHAR},
      </if>
      <if test="ccy != null">
        ccy = #{ccy,jdbcType=VARCHAR},
      </if>
      <if test="mthlylyPymntAmt != null">
        mthlyly_pymnt_amt = #{mthlylyPymntAmt,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=VARCHAR},
      </if>
      <if test="stgsAplctnFrmNo != null">
        stgs_aplctn_frm_no = #{stgsAplctnFrmNo,jdbcType=VARCHAR},
      </if>
      <if test="frcFeeRtDsctCfcnt != null">
        frc_fee_rt_dsct_cfcnt = #{frcFeeRtDsctCfcnt,jdbcType=VARCHAR},
      </if>
      <if test="instlType != null">
        instl_type = #{instlType,jdbcType=VARCHAR},
      </if>
      <if test="txnSrc != null">
        txn_src = #{txnSrc,jdbcType=VARCHAR},
      </if>
      <if test="seqNo1 != null">
        seq_no1 = #{seqNo1,jdbcType=VARCHAR},
      </if>
      <if test="seqNo2 != null">
        seq_no2 = #{seqNo2,jdbcType=VARCHAR},
      </if>
      <if test="seqNo3 != null">
        seq_no3 = #{seqNo3,jdbcType=VARCHAR},
      </if>
      <if test="seqNo4 != null">
        seq_no4 = #{seqNo4,jdbcType=VARCHAR},
      </if>
      <if test="anlintrstrat != null">
        anlintrstrat = #{anlintrstrat,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        rate_num = #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="oriFee != null">
        ori_fee = #{oriFee,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="ddctnAmt != null">
        ddctn_amt = #{ddctnAmt,jdbcType=VARCHAR},
      </if>
      <if test="bankCardDate != null">
        bank_card_date = #{bankCardDate,jdbcType=TIMESTAMP},
      </if>
      <if test="agngPdPcdrFee != null">
        agng_pd_pcdr_fee = #{agngPdPcdrFee,jdbcType=VARCHAR},
      </if>
      <if test="pcdrFeeFeeRt != null">
        pcdr_fee_fee_rt = #{pcdrFeeFeeRt,jdbcType=VARCHAR},
      </if>
      <if test="eachPrdFee != null">
        each_prd_fee = #{eachPrdFee,jdbcType=VARCHAR},
      </if>
    </set>
    where easy_confirm_data_id = #{easyConfirmDataId,jdbcType=BIGINT}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.entity.EasyConfirmData">
    <!--@mbg.generated-->
    update easy_confirm_data
    set white_id = #{whiteId,jdbcType=INTEGER},
      id_no = #{idNo,jdbcType=VARCHAR},
      id_tp = #{idTp,jdbcType=VARCHAR},
      crd_no = #{crdNo,jdbcType=VARCHAR},
      oprt_tp = #{oprtTp,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      crdt_aply_no = #{crdtAplyNo,jdbcType=VARCHAR},
      stgs_num = #{stgsNum,jdbcType=VARCHAR},
      stgs_amt = #{stgsAmt,jdbcType=VARCHAR},
      ccy = #{ccy,jdbcType=VARCHAR},
      mthlyly_pymnt_amt = #{mthlylyPymntAmt,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR},
      stgs_aplctn_frm_no = #{stgsAplctnFrmNo,jdbcType=VARCHAR},
      frc_fee_rt_dsct_cfcnt = #{frcFeeRtDsctCfcnt,jdbcType=VARCHAR},
      instl_type = #{instlType,jdbcType=VARCHAR},
      txn_src = #{txnSrc,jdbcType=VARCHAR},
      seq_no1 = #{seqNo1,jdbcType=VARCHAR},
      seq_no2 = #{seqNo2,jdbcType=VARCHAR},
      seq_no3 = #{seqNo3,jdbcType=VARCHAR},
      seq_no4 = #{seqNo4,jdbcType=VARCHAR},
      anlintrstrat = #{anlintrstrat,jdbcType=VARCHAR},
      rate_num = #{rateNum,jdbcType=VARCHAR},
      ori_fee = #{oriFee,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      ddctn_amt = #{ddctnAmt,jdbcType=VARCHAR},
      bank_card_date = #{bankCardDate,jdbcType=TIMESTAMP},
      agng_pd_pcdr_fee = #{agngPdPcdrFee,jdbcType=VARCHAR},
      pcdr_fee_fee_rt = #{pcdrFeeFeeRt,jdbcType=VARCHAR},
      each_prd_fee = #{eachPrdFee,jdbcType=VARCHAR}
    where easy_confirm_data_id = #{easyConfirmDataId,jdbcType=BIGINT}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update easy_confirm_data
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="white_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.whiteId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="id_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.idNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="id_tp = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.idTp,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="crd_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.crdNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="oprt_tp = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.oprtTp,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="apply_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.applyTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="crdt_aply_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.crdtAplyNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="stgs_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.stgsNum,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="stgs_amt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.stgsAmt,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ccy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.ccy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mthlyly_pymnt_amt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.mthlylyPymntAmt,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.fee,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="stgs_aplctn_frm_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.stgsAplctnFrmNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="frc_fee_rt_dsct_cfcnt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.frcFeeRtDsctCfcnt,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="instl_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.instlType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="txn_src = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.txnSrc,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="seq_no1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.seqNo1,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="seq_no2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.seqNo2,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="seq_no3 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.seqNo3,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="seq_no4 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.seqNo4,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="anlintrstrat = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.anlintrstrat,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="rate_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.rateNum,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ori_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.oriFee,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="detail = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.detail,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="ddctn_amt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.ddctnAmt,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="bank_card_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.bankCardDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="agng_pd_pcdr_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.agngPdPcdrFee,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pcdr_fee_fee_rt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.pcdrFeeFeeRt,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="each_prd_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_id = #{item.easyConfirmDataId,jdbcType=BIGINT} then #{item.eachPrdFee,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where easy_confirm_data_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.easyConfirmDataId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="easy_confirm_data_id" keyProperty="easyConfirmDataId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into easy_confirm_data
    (create_time, white_id, id_no, id_tp, crd_no, oprt_tp, apply_time, crdt_aply_no, 
      stgs_num, stgs_amt, ccy, mthlyly_pymnt_amt, fee, stgs_aplctn_frm_no, frc_fee_rt_dsct_cfcnt, 
      instl_type, txn_src, seq_no1, seq_no2, seq_no3, seq_no4, anlintrstrat, rate_num, 
      ori_fee, detail, `status`, ddctn_amt, bank_card_date, agng_pd_pcdr_fee, pcdr_fee_fee_rt, 
      each_prd_fee)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createTime,jdbcType=TIMESTAMP}, #{item.whiteId,jdbcType=INTEGER}, #{item.idNo,jdbcType=VARCHAR}, 
        #{item.idTp,jdbcType=VARCHAR}, #{item.crdNo,jdbcType=VARCHAR}, #{item.oprtTp,jdbcType=VARCHAR}, 
        #{item.applyTime,jdbcType=TIMESTAMP}, #{item.crdtAplyNo,jdbcType=VARCHAR}, #{item.stgsNum,jdbcType=VARCHAR}, 
        #{item.stgsAmt,jdbcType=VARCHAR}, #{item.ccy,jdbcType=VARCHAR}, #{item.mthlylyPymntAmt,jdbcType=VARCHAR}, 
        #{item.fee,jdbcType=VARCHAR}, #{item.stgsAplctnFrmNo,jdbcType=VARCHAR}, #{item.frcFeeRtDsctCfcnt,jdbcType=VARCHAR}, 
        #{item.instlType,jdbcType=VARCHAR}, #{item.txnSrc,jdbcType=VARCHAR}, #{item.seqNo1,jdbcType=VARCHAR}, 
        #{item.seqNo2,jdbcType=VARCHAR}, #{item.seqNo3,jdbcType=VARCHAR}, #{item.seqNo4,jdbcType=VARCHAR}, 
        #{item.anlintrstrat,jdbcType=VARCHAR}, #{item.rateNum,jdbcType=VARCHAR}, #{item.oriFee,jdbcType=VARCHAR}, 
        #{item.detail,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.ddctnAmt,jdbcType=VARCHAR}, 
        #{item.bankCardDate,jdbcType=TIMESTAMP}, #{item.agngPdPcdrFee,jdbcType=VARCHAR}, 
        #{item.pcdrFeeFeeRt,jdbcType=VARCHAR}, #{item.eachPrdFee,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>