<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.EasyConfirmDataRepaymentMapper">
  <resultMap id="BaseResultMap" type="com.chen.entity.EasyConfirmDataRepayment">
    <!--@mbg.generated-->
    <!--@Table easy_confirm_data_repayment-->
    <id column="easy_confirm_data_repayment_id" jdbcType="BIGINT" property="easyConfirmDataRepaymentId" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="xaccount" jdbcType="VARCHAR" property="xaccount" />
    <result column="card_nbr" jdbcType="VARCHAR" property="cardNbr" />
    <result column="cardholder" jdbcType="VARCHAR" property="cardholder" />
    <result column="inp_day" jdbcType="VARCHAR" property="inpDay" />
    <result column="inp_time" jdbcType="VARCHAR" property="inpTime" />
    <result column="micro_ref" jdbcType="VARCHAR" property="microRef" />
    <result column="purch_day" jdbcType="VARCHAR" property="purchDay" />
    <result column="prod_id" jdbcType="VARCHAR" property="prodId" />
    <result column="int_rate" jdbcType="DECIMAL" property="intRate" />
    <result column="accel_int" jdbcType="DECIMAL" property="accelInt" />
    <result column="first_int" jdbcType="DECIMAL" property="firstInt" />
    <result column="mth_instl" jdbcType="DECIMAL" property="mthInstl" />
    <result column="instl_cnt" jdbcType="VARCHAR" property="instlCnt" />
    <result column="lst_instdy" jdbcType="VARCHAR" property="lstInstdy" />
    <result column="mth_int" jdbcType="DECIMAL" property="mthInt" />
    <result column="mth_ppl" jdbcType="DECIMAL" property="mthPpl" />
    <result column="nbr_mths" jdbcType="VARCHAR" property="nbrMths" />
    <result column="orig_purch" jdbcType="DECIMAL" property="origPurch" />
    <result column="rem_ppl" jdbcType="DECIMAL" property="remPpl" />
    <result column="orig_int" jdbcType="DECIMAL" property="origInt" />
    <result column="tot_int_cg" jdbcType="DECIMAL" property="totIntCg" />
    <result column="rem_int" jdbcType="DECIMAL" property="remInt" />
    <result column="orig_fee" jdbcType="DECIMAL" property="origFee" />
    <result column="rem_fee" jdbcType="DECIMAL" property="remFee" />
    <result column="trans_src" jdbcType="VARCHAR" property="transSrc" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="status_day" jdbcType="VARCHAR" property="statusDay" />
    <result column="employee" jdbcType="VARCHAR" property="employee" />
    <result column="credp_id" jdbcType="VARCHAR" property="credpId" />
    <result column="mp_type" jdbcType="VARCHAR" property="mpType" />
    <result column="pause_nbrs" jdbcType="VARCHAR" property="pauseNbrs" />
    <result column="delay_mth" jdbcType="VARCHAR" property="delayMth" />
    <result column="curr_num" jdbcType="VARCHAR" property="currNum" />
    <result column="res_ppl" jdbcType="DECIMAL" property="resPpl" />
    <result column="inter_mths" jdbcType="VARCHAR" property="interMths" />
    <result column="paycf_day" jdbcType="VARCHAR" property="paycfDay" />
    <result column="pri_dldy" jdbcType="VARCHAR" property="priDldy" />
    <result column="dly_days" jdbcType="VARCHAR" property="dlyDays" />
    <result column="etl_day" jdbcType="VARCHAR" property="etlDay" />
    <result column="dedu_fee" jdbcType="DECIMAL" property="deduFee" />
    <result column="app_sday_new" jdbcType="VARCHAR" property="appSdayNew" />
    <result column="mark_day" jdbcType="VARCHAR" property="markDay" />
    <result column="rem_feey" jdbcType="DECIMAL" property="remFeey" />
    <result column="fee_pcnt" jdbcType="DECIMAL" property="feePcnt" />
    <result column="fee_mths" jdbcType="VARCHAR" property="feeMths" />
    <result column="chanelno" jdbcType="VARCHAR" property="chanelno" />
    <result column="mp_irr_yr" jdbcType="DECIMAL" property="mpIrrYr" />
    <result column="rem_pply" jdbcType="DECIMAL" property="remPply" />
    <result column="res_pply" jdbcType="DECIMAL" property="resPply" />
    <result column="fst_instdy" jdbcType="VARCHAR" property="fstInstdy" />
    <result column="mth_fee" jdbcType="DECIMAL" property="mthFee" />
    <result column="fee_pcnt_new" jdbcType="DECIMAL" property="feePcntNew" />
    <result column="rem_inty" jdbcType="DECIMAL" property="remInty" />
    <result column="inst_intfe" jdbcType="DECIMAL" property="instIntfe" />
    <result column="txt_date" jdbcType="DATE" property="txtDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    easy_confirm_data_repayment_id, bank, xaccount, card_nbr, cardholder, inp_day, inp_time, 
    micro_ref, purch_day, prod_id, int_rate, accel_int, first_int, mth_instl, instl_cnt, 
    lst_instdy, mth_int, mth_ppl, nbr_mths, orig_purch, rem_ppl, orig_int, tot_int_cg, 
    rem_int, orig_fee, rem_fee, trans_src, `status`, status_day, employee, credp_id, 
    mp_type, pause_nbrs, delay_mth, curr_num, res_ppl, inter_mths, paycf_day, pri_dldy, 
    dly_days, etl_day, dedu_fee, app_sday_new, mark_day, rem_feey, fee_pcnt, fee_mths, 
    chanelno, mp_irr_yr, rem_pply, res_pply, fst_instdy, mth_fee, fee_pcnt_new, rem_inty, 
    inst_intfe, txt_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from easy_confirm_data_repayment
    where easy_confirm_data_repayment_id = #{easyConfirmDataRepaymentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from easy_confirm_data_repayment
    where easy_confirm_data_repayment_id = #{easyConfirmDataRepaymentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chen.entity.EasyConfirmDataRepayment">
    <!--@mbg.generated-->
    insert into easy_confirm_data_repayment (easy_confirm_data_repayment_id, bank, 
      xaccount, card_nbr, cardholder, 
      inp_day, inp_time, micro_ref, 
      purch_day, prod_id, int_rate, 
      accel_int, first_int, mth_instl, 
      instl_cnt, lst_instdy, mth_int, 
      mth_ppl, nbr_mths, orig_purch, 
      rem_ppl, orig_int, tot_int_cg, 
      rem_int, orig_fee, rem_fee, 
      trans_src, `status`, status_day, 
      employee, credp_id, mp_type, 
      pause_nbrs, delay_mth, curr_num, 
      res_ppl, inter_mths, paycf_day, 
      pri_dldy, dly_days, etl_day, 
      dedu_fee, app_sday_new, mark_day, 
      rem_feey, fee_pcnt, fee_mths, 
      chanelno, mp_irr_yr, rem_pply, 
      res_pply, fst_instdy, mth_fee, 
      fee_pcnt_new, rem_inty, inst_intfe, 
      txt_date)
    values (#{easyConfirmDataRepaymentId,jdbcType=BIGINT}, #{bank,jdbcType=VARCHAR}, 
      #{xaccount,jdbcType=VARCHAR}, #{cardNbr,jdbcType=VARCHAR}, #{cardholder,jdbcType=VARCHAR}, 
      #{inpDay,jdbcType=VARCHAR}, #{inpTime,jdbcType=VARCHAR}, #{microRef,jdbcType=VARCHAR}, 
      #{purchDay,jdbcType=VARCHAR}, #{prodId,jdbcType=VARCHAR}, #{intRate,jdbcType=DECIMAL}, 
      #{accelInt,jdbcType=DECIMAL}, #{firstInt,jdbcType=DECIMAL}, #{mthInstl,jdbcType=DECIMAL}, 
      #{instlCnt,jdbcType=VARCHAR}, #{lstInstdy,jdbcType=VARCHAR}, #{mthInt,jdbcType=DECIMAL}, 
      #{mthPpl,jdbcType=DECIMAL}, #{nbrMths,jdbcType=VARCHAR}, #{origPurch,jdbcType=DECIMAL}, 
      #{remPpl,jdbcType=DECIMAL}, #{origInt,jdbcType=DECIMAL}, #{totIntCg,jdbcType=DECIMAL}, 
      #{remInt,jdbcType=DECIMAL}, #{origFee,jdbcType=DECIMAL}, #{remFee,jdbcType=DECIMAL}, 
      #{transSrc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{statusDay,jdbcType=VARCHAR}, 
      #{employee,jdbcType=VARCHAR}, #{credpId,jdbcType=VARCHAR}, #{mpType,jdbcType=VARCHAR}, 
      #{pauseNbrs,jdbcType=VARCHAR}, #{delayMth,jdbcType=VARCHAR}, #{currNum,jdbcType=VARCHAR}, 
      #{resPpl,jdbcType=DECIMAL}, #{interMths,jdbcType=VARCHAR}, #{paycfDay,jdbcType=VARCHAR}, 
      #{priDldy,jdbcType=VARCHAR}, #{dlyDays,jdbcType=VARCHAR}, #{etlDay,jdbcType=VARCHAR}, 
      #{deduFee,jdbcType=DECIMAL}, #{appSdayNew,jdbcType=VARCHAR}, #{markDay,jdbcType=VARCHAR}, 
      #{remFeey,jdbcType=DECIMAL}, #{feePcnt,jdbcType=DECIMAL}, #{feeMths,jdbcType=VARCHAR}, 
      #{chanelno,jdbcType=VARCHAR}, #{mpIrrYr,jdbcType=DECIMAL}, #{remPply,jdbcType=DECIMAL}, 
      #{resPply,jdbcType=DECIMAL}, #{fstInstdy,jdbcType=VARCHAR}, #{mthFee,jdbcType=DECIMAL}, 
      #{feePcntNew,jdbcType=DECIMAL}, #{remInty,jdbcType=DECIMAL}, #{instIntfe,jdbcType=DECIMAL}, 
      #{txtDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.entity.EasyConfirmDataRepayment">
    <!--@mbg.generated-->
    insert into easy_confirm_data_repayment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="easyConfirmDataRepaymentId != null">
        easy_confirm_data_repayment_id,
      </if>
      <if test="bank != null">
        bank,
      </if>
      <if test="xaccount != null">
        xaccount,
      </if>
      <if test="cardNbr != null">
        card_nbr,
      </if>
      <if test="cardholder != null">
        cardholder,
      </if>
      <if test="inpDay != null">
        inp_day,
      </if>
      <if test="inpTime != null">
        inp_time,
      </if>
      <if test="microRef != null">
        micro_ref,
      </if>
      <if test="purchDay != null">
        purch_day,
      </if>
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="intRate != null">
        int_rate,
      </if>
      <if test="accelInt != null">
        accel_int,
      </if>
      <if test="firstInt != null">
        first_int,
      </if>
      <if test="mthInstl != null">
        mth_instl,
      </if>
      <if test="instlCnt != null">
        instl_cnt,
      </if>
      <if test="lstInstdy != null">
        lst_instdy,
      </if>
      <if test="mthInt != null">
        mth_int,
      </if>
      <if test="mthPpl != null">
        mth_ppl,
      </if>
      <if test="nbrMths != null">
        nbr_mths,
      </if>
      <if test="origPurch != null">
        orig_purch,
      </if>
      <if test="remPpl != null">
        rem_ppl,
      </if>
      <if test="origInt != null">
        orig_int,
      </if>
      <if test="totIntCg != null">
        tot_int_cg,
      </if>
      <if test="remInt != null">
        rem_int,
      </if>
      <if test="origFee != null">
        orig_fee,
      </if>
      <if test="remFee != null">
        rem_fee,
      </if>
      <if test="transSrc != null">
        trans_src,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="statusDay != null">
        status_day,
      </if>
      <if test="employee != null">
        employee,
      </if>
      <if test="credpId != null">
        credp_id,
      </if>
      <if test="mpType != null">
        mp_type,
      </if>
      <if test="pauseNbrs != null">
        pause_nbrs,
      </if>
      <if test="delayMth != null">
        delay_mth,
      </if>
      <if test="currNum != null">
        curr_num,
      </if>
      <if test="resPpl != null">
        res_ppl,
      </if>
      <if test="interMths != null">
        inter_mths,
      </if>
      <if test="paycfDay != null">
        paycf_day,
      </if>
      <if test="priDldy != null">
        pri_dldy,
      </if>
      <if test="dlyDays != null">
        dly_days,
      </if>
      <if test="etlDay != null">
        etl_day,
      </if>
      <if test="deduFee != null">
        dedu_fee,
      </if>
      <if test="appSdayNew != null">
        app_sday_new,
      </if>
      <if test="markDay != null">
        mark_day,
      </if>
      <if test="remFeey != null">
        rem_feey,
      </if>
      <if test="feePcnt != null">
        fee_pcnt,
      </if>
      <if test="feeMths != null">
        fee_mths,
      </if>
      <if test="chanelno != null">
        chanelno,
      </if>
      <if test="mpIrrYr != null">
        mp_irr_yr,
      </if>
      <if test="remPply != null">
        rem_pply,
      </if>
      <if test="resPply != null">
        res_pply,
      </if>
      <if test="fstInstdy != null">
        fst_instdy,
      </if>
      <if test="mthFee != null">
        mth_fee,
      </if>
      <if test="feePcntNew != null">
        fee_pcnt_new,
      </if>
      <if test="remInty != null">
        rem_inty,
      </if>
      <if test="instIntfe != null">
        inst_intfe,
      </if>
      <if test="txtDate != null">
        txt_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="easyConfirmDataRepaymentId != null">
        #{easyConfirmDataRepaymentId,jdbcType=BIGINT},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="xaccount != null">
        #{xaccount,jdbcType=VARCHAR},
      </if>
      <if test="cardNbr != null">
        #{cardNbr,jdbcType=VARCHAR},
      </if>
      <if test="cardholder != null">
        #{cardholder,jdbcType=VARCHAR},
      </if>
      <if test="inpDay != null">
        #{inpDay,jdbcType=VARCHAR},
      </if>
      <if test="inpTime != null">
        #{inpTime,jdbcType=VARCHAR},
      </if>
      <if test="microRef != null">
        #{microRef,jdbcType=VARCHAR},
      </if>
      <if test="purchDay != null">
        #{purchDay,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="intRate != null">
        #{intRate,jdbcType=DECIMAL},
      </if>
      <if test="accelInt != null">
        #{accelInt,jdbcType=DECIMAL},
      </if>
      <if test="firstInt != null">
        #{firstInt,jdbcType=DECIMAL},
      </if>
      <if test="mthInstl != null">
        #{mthInstl,jdbcType=DECIMAL},
      </if>
      <if test="instlCnt != null">
        #{instlCnt,jdbcType=VARCHAR},
      </if>
      <if test="lstInstdy != null">
        #{lstInstdy,jdbcType=VARCHAR},
      </if>
      <if test="mthInt != null">
        #{mthInt,jdbcType=DECIMAL},
      </if>
      <if test="mthPpl != null">
        #{mthPpl,jdbcType=DECIMAL},
      </if>
      <if test="nbrMths != null">
        #{nbrMths,jdbcType=VARCHAR},
      </if>
      <if test="origPurch != null">
        #{origPurch,jdbcType=DECIMAL},
      </if>
      <if test="remPpl != null">
        #{remPpl,jdbcType=DECIMAL},
      </if>
      <if test="origInt != null">
        #{origInt,jdbcType=DECIMAL},
      </if>
      <if test="totIntCg != null">
        #{totIntCg,jdbcType=DECIMAL},
      </if>
      <if test="remInt != null">
        #{remInt,jdbcType=DECIMAL},
      </if>
      <if test="origFee != null">
        #{origFee,jdbcType=DECIMAL},
      </if>
      <if test="remFee != null">
        #{remFee,jdbcType=DECIMAL},
      </if>
      <if test="transSrc != null">
        #{transSrc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="statusDay != null">
        #{statusDay,jdbcType=VARCHAR},
      </if>
      <if test="employee != null">
        #{employee,jdbcType=VARCHAR},
      </if>
      <if test="credpId != null">
        #{credpId,jdbcType=VARCHAR},
      </if>
      <if test="mpType != null">
        #{mpType,jdbcType=VARCHAR},
      </if>
      <if test="pauseNbrs != null">
        #{pauseNbrs,jdbcType=VARCHAR},
      </if>
      <if test="delayMth != null">
        #{delayMth,jdbcType=VARCHAR},
      </if>
      <if test="currNum != null">
        #{currNum,jdbcType=VARCHAR},
      </if>
      <if test="resPpl != null">
        #{resPpl,jdbcType=DECIMAL},
      </if>
      <if test="interMths != null">
        #{interMths,jdbcType=VARCHAR},
      </if>
      <if test="paycfDay != null">
        #{paycfDay,jdbcType=VARCHAR},
      </if>
      <if test="priDldy != null">
        #{priDldy,jdbcType=VARCHAR},
      </if>
      <if test="dlyDays != null">
        #{dlyDays,jdbcType=VARCHAR},
      </if>
      <if test="etlDay != null">
        #{etlDay,jdbcType=VARCHAR},
      </if>
      <if test="deduFee != null">
        #{deduFee,jdbcType=DECIMAL},
      </if>
      <if test="appSdayNew != null">
        #{appSdayNew,jdbcType=VARCHAR},
      </if>
      <if test="markDay != null">
        #{markDay,jdbcType=VARCHAR},
      </if>
      <if test="remFeey != null">
        #{remFeey,jdbcType=DECIMAL},
      </if>
      <if test="feePcnt != null">
        #{feePcnt,jdbcType=DECIMAL},
      </if>
      <if test="feeMths != null">
        #{feeMths,jdbcType=VARCHAR},
      </if>
      <if test="chanelno != null">
        #{chanelno,jdbcType=VARCHAR},
      </if>
      <if test="mpIrrYr != null">
        #{mpIrrYr,jdbcType=DECIMAL},
      </if>
      <if test="remPply != null">
        #{remPply,jdbcType=DECIMAL},
      </if>
      <if test="resPply != null">
        #{resPply,jdbcType=DECIMAL},
      </if>
      <if test="fstInstdy != null">
        #{fstInstdy,jdbcType=VARCHAR},
      </if>
      <if test="mthFee != null">
        #{mthFee,jdbcType=DECIMAL},
      </if>
      <if test="feePcntNew != null">
        #{feePcntNew,jdbcType=DECIMAL},
      </if>
      <if test="remInty != null">
        #{remInty,jdbcType=DECIMAL},
      </if>
      <if test="instIntfe != null">
        #{instIntfe,jdbcType=DECIMAL},
      </if>
      <if test="txtDate != null">
        #{txtDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.entity.EasyConfirmDataRepayment">
    <!--@mbg.generated-->
    update easy_confirm_data_repayment
    <set>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="xaccount != null">
        xaccount = #{xaccount,jdbcType=VARCHAR},
      </if>
      <if test="cardNbr != null">
        card_nbr = #{cardNbr,jdbcType=VARCHAR},
      </if>
      <if test="cardholder != null">
        cardholder = #{cardholder,jdbcType=VARCHAR},
      </if>
      <if test="inpDay != null">
        inp_day = #{inpDay,jdbcType=VARCHAR},
      </if>
      <if test="inpTime != null">
        inp_time = #{inpTime,jdbcType=VARCHAR},
      </if>
      <if test="microRef != null">
        micro_ref = #{microRef,jdbcType=VARCHAR},
      </if>
      <if test="purchDay != null">
        purch_day = #{purchDay,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null">
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="intRate != null">
        int_rate = #{intRate,jdbcType=DECIMAL},
      </if>
      <if test="accelInt != null">
        accel_int = #{accelInt,jdbcType=DECIMAL},
      </if>
      <if test="firstInt != null">
        first_int = #{firstInt,jdbcType=DECIMAL},
      </if>
      <if test="mthInstl != null">
        mth_instl = #{mthInstl,jdbcType=DECIMAL},
      </if>
      <if test="instlCnt != null">
        instl_cnt = #{instlCnt,jdbcType=VARCHAR},
      </if>
      <if test="lstInstdy != null">
        lst_instdy = #{lstInstdy,jdbcType=VARCHAR},
      </if>
      <if test="mthInt != null">
        mth_int = #{mthInt,jdbcType=DECIMAL},
      </if>
      <if test="mthPpl != null">
        mth_ppl = #{mthPpl,jdbcType=DECIMAL},
      </if>
      <if test="nbrMths != null">
        nbr_mths = #{nbrMths,jdbcType=VARCHAR},
      </if>
      <if test="origPurch != null">
        orig_purch = #{origPurch,jdbcType=DECIMAL},
      </if>
      <if test="remPpl != null">
        rem_ppl = #{remPpl,jdbcType=DECIMAL},
      </if>
      <if test="origInt != null">
        orig_int = #{origInt,jdbcType=DECIMAL},
      </if>
      <if test="totIntCg != null">
        tot_int_cg = #{totIntCg,jdbcType=DECIMAL},
      </if>
      <if test="remInt != null">
        rem_int = #{remInt,jdbcType=DECIMAL},
      </if>
      <if test="origFee != null">
        orig_fee = #{origFee,jdbcType=DECIMAL},
      </if>
      <if test="remFee != null">
        rem_fee = #{remFee,jdbcType=DECIMAL},
      </if>
      <if test="transSrc != null">
        trans_src = #{transSrc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="statusDay != null">
        status_day = #{statusDay,jdbcType=VARCHAR},
      </if>
      <if test="employee != null">
        employee = #{employee,jdbcType=VARCHAR},
      </if>
      <if test="credpId != null">
        credp_id = #{credpId,jdbcType=VARCHAR},
      </if>
      <if test="mpType != null">
        mp_type = #{mpType,jdbcType=VARCHAR},
      </if>
      <if test="pauseNbrs != null">
        pause_nbrs = #{pauseNbrs,jdbcType=VARCHAR},
      </if>
      <if test="delayMth != null">
        delay_mth = #{delayMth,jdbcType=VARCHAR},
      </if>
      <if test="currNum != null">
        curr_num = #{currNum,jdbcType=VARCHAR},
      </if>
      <if test="resPpl != null">
        res_ppl = #{resPpl,jdbcType=DECIMAL},
      </if>
      <if test="interMths != null">
        inter_mths = #{interMths,jdbcType=VARCHAR},
      </if>
      <if test="paycfDay != null">
        paycf_day = #{paycfDay,jdbcType=VARCHAR},
      </if>
      <if test="priDldy != null">
        pri_dldy = #{priDldy,jdbcType=VARCHAR},
      </if>
      <if test="dlyDays != null">
        dly_days = #{dlyDays,jdbcType=VARCHAR},
      </if>
      <if test="etlDay != null">
        etl_day = #{etlDay,jdbcType=VARCHAR},
      </if>
      <if test="deduFee != null">
        dedu_fee = #{deduFee,jdbcType=DECIMAL},
      </if>
      <if test="appSdayNew != null">
        app_sday_new = #{appSdayNew,jdbcType=VARCHAR},
      </if>
      <if test="markDay != null">
        mark_day = #{markDay,jdbcType=VARCHAR},
      </if>
      <if test="remFeey != null">
        rem_feey = #{remFeey,jdbcType=DECIMAL},
      </if>
      <if test="feePcnt != null">
        fee_pcnt = #{feePcnt,jdbcType=DECIMAL},
      </if>
      <if test="feeMths != null">
        fee_mths = #{feeMths,jdbcType=VARCHAR},
      </if>
      <if test="chanelno != null">
        chanelno = #{chanelno,jdbcType=VARCHAR},
      </if>
      <if test="mpIrrYr != null">
        mp_irr_yr = #{mpIrrYr,jdbcType=DECIMAL},
      </if>
      <if test="remPply != null">
        rem_pply = #{remPply,jdbcType=DECIMAL},
      </if>
      <if test="resPply != null">
        res_pply = #{resPply,jdbcType=DECIMAL},
      </if>
      <if test="fstInstdy != null">
        fst_instdy = #{fstInstdy,jdbcType=VARCHAR},
      </if>
      <if test="mthFee != null">
        mth_fee = #{mthFee,jdbcType=DECIMAL},
      </if>
      <if test="feePcntNew != null">
        fee_pcnt_new = #{feePcntNew,jdbcType=DECIMAL},
      </if>
      <if test="remInty != null">
        rem_inty = #{remInty,jdbcType=DECIMAL},
      </if>
      <if test="instIntfe != null">
        inst_intfe = #{instIntfe,jdbcType=DECIMAL},
      </if>
      <if test="txtDate != null">
        txt_date = #{txtDate,jdbcType=DATE},
      </if>
    </set>
    where easy_confirm_data_repayment_id = #{easyConfirmDataRepaymentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.entity.EasyConfirmDataRepayment">
    <!--@mbg.generated-->
    update easy_confirm_data_repayment
    set bank = #{bank,jdbcType=VARCHAR},
      xaccount = #{xaccount,jdbcType=VARCHAR},
      card_nbr = #{cardNbr,jdbcType=VARCHAR},
      cardholder = #{cardholder,jdbcType=VARCHAR},
      inp_day = #{inpDay,jdbcType=VARCHAR},
      inp_time = #{inpTime,jdbcType=VARCHAR},
      micro_ref = #{microRef,jdbcType=VARCHAR},
      purch_day = #{purchDay,jdbcType=VARCHAR},
      prod_id = #{prodId,jdbcType=VARCHAR},
      int_rate = #{intRate,jdbcType=DECIMAL},
      accel_int = #{accelInt,jdbcType=DECIMAL},
      first_int = #{firstInt,jdbcType=DECIMAL},
      mth_instl = #{mthInstl,jdbcType=DECIMAL},
      instl_cnt = #{instlCnt,jdbcType=VARCHAR},
      lst_instdy = #{lstInstdy,jdbcType=VARCHAR},
      mth_int = #{mthInt,jdbcType=DECIMAL},
      mth_ppl = #{mthPpl,jdbcType=DECIMAL},
      nbr_mths = #{nbrMths,jdbcType=VARCHAR},
      orig_purch = #{origPurch,jdbcType=DECIMAL},
      rem_ppl = #{remPpl,jdbcType=DECIMAL},
      orig_int = #{origInt,jdbcType=DECIMAL},
      tot_int_cg = #{totIntCg,jdbcType=DECIMAL},
      rem_int = #{remInt,jdbcType=DECIMAL},
      orig_fee = #{origFee,jdbcType=DECIMAL},
      rem_fee = #{remFee,jdbcType=DECIMAL},
      trans_src = #{transSrc,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      status_day = #{statusDay,jdbcType=VARCHAR},
      employee = #{employee,jdbcType=VARCHAR},
      credp_id = #{credpId,jdbcType=VARCHAR},
      mp_type = #{mpType,jdbcType=VARCHAR},
      pause_nbrs = #{pauseNbrs,jdbcType=VARCHAR},
      delay_mth = #{delayMth,jdbcType=VARCHAR},
      curr_num = #{currNum,jdbcType=VARCHAR},
      res_ppl = #{resPpl,jdbcType=DECIMAL},
      inter_mths = #{interMths,jdbcType=VARCHAR},
      paycf_day = #{paycfDay,jdbcType=VARCHAR},
      pri_dldy = #{priDldy,jdbcType=VARCHAR},
      dly_days = #{dlyDays,jdbcType=VARCHAR},
      etl_day = #{etlDay,jdbcType=VARCHAR},
      dedu_fee = #{deduFee,jdbcType=DECIMAL},
      app_sday_new = #{appSdayNew,jdbcType=VARCHAR},
      mark_day = #{markDay,jdbcType=VARCHAR},
      rem_feey = #{remFeey,jdbcType=DECIMAL},
      fee_pcnt = #{feePcnt,jdbcType=DECIMAL},
      fee_mths = #{feeMths,jdbcType=VARCHAR},
      chanelno = #{chanelno,jdbcType=VARCHAR},
      mp_irr_yr = #{mpIrrYr,jdbcType=DECIMAL},
      rem_pply = #{remPply,jdbcType=DECIMAL},
      res_pply = #{resPply,jdbcType=DECIMAL},
      fst_instdy = #{fstInstdy,jdbcType=VARCHAR},
      mth_fee = #{mthFee,jdbcType=DECIMAL},
      fee_pcnt_new = #{feePcntNew,jdbcType=DECIMAL},
      rem_inty = #{remInty,jdbcType=DECIMAL},
      inst_intfe = #{instIntfe,jdbcType=DECIMAL},
      txt_date = #{txtDate,jdbcType=DATE}
    where easy_confirm_data_repayment_id = #{easyConfirmDataRepaymentId,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update easy_confirm_data_repayment
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="bank = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.bank,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="xaccount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.xaccount,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="card_nbr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.cardNbr,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="cardholder = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.cardholder,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="inp_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.inpDay,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="inp_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.inpTime,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="micro_ref = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.microRef,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="purch_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.purchDay,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="prod_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.prodId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="int_rate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.intRate,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="accel_int = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.accelInt,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="first_int = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.firstInt,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="mth_instl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.mthInstl,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="instl_cnt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.instlCnt,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="lst_instdy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.lstInstdy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mth_int = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.mthInt,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="mth_ppl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.mthPpl,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="nbr_mths = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.nbrMths,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="orig_purch = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.origPurch,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="rem_ppl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.remPpl,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="orig_int = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.origInt,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="tot_int_cg = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.totIntCg,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="rem_int = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.remInt,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="orig_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.origFee,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="rem_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.remFee,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="trans_src = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.transSrc,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="status_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.statusDay,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="employee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.employee,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="credp_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.credpId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mp_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.mpType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pause_nbrs = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.pauseNbrs,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="delay_mth = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.delayMth,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="curr_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.currNum,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="res_ppl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.resPpl,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="inter_mths = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.interMths,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="paycf_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.paycfDay,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pri_dldy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.priDldy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="dly_days = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.dlyDays,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="etl_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.etlDay,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="dedu_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.deduFee,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="app_sday_new = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.appSdayNew,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mark_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.markDay,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="rem_feey = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.remFeey,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="fee_pcnt = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.feePcnt,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="fee_mths = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.feeMths,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="chanelno = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.chanelno,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mp_irr_yr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.mpIrrYr,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="rem_pply = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.remPply,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="res_pply = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.resPply,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="fst_instdy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.fstInstdy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mth_fee = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.mthFee,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="fee_pcnt_new = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.feePcntNew,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="rem_inty = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.remInty,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="inst_intfe = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.instIntfe,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="txt_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when easy_confirm_data_repayment_id = #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT} then #{item.txtDate,jdbcType=DATE}
        </foreach>
      </trim>
    </trim>
    where easy_confirm_data_repayment_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.easyConfirmDataRepaymentId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into easy_confirm_data_repayment
    (easy_confirm_data_repayment_id, bank, xaccount, card_nbr, cardholder, inp_day, inp_time, 
      micro_ref, purch_day, prod_id, int_rate, accel_int, first_int, mth_instl, instl_cnt, 
      lst_instdy, mth_int, mth_ppl, nbr_mths, orig_purch, rem_ppl, orig_int, tot_int_cg, 
      rem_int, orig_fee, rem_fee, trans_src, `status`, status_day, employee, credp_id, 
      mp_type, pause_nbrs, delay_mth, curr_num, res_ppl, inter_mths, paycf_day, pri_dldy, 
      dly_days, etl_day, dedu_fee, app_sday_new, mark_day, rem_feey, fee_pcnt, fee_mths, 
      chanelno, mp_irr_yr, rem_pply, res_pply, fst_instdy, mth_fee, fee_pcnt_new, rem_inty, 
      inst_intfe, txt_date)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.easyConfirmDataRepaymentId,jdbcType=BIGINT}, #{item.bank,jdbcType=VARCHAR}, 
        #{item.xaccount,jdbcType=VARCHAR}, #{item.cardNbr,jdbcType=VARCHAR}, #{item.cardholder,jdbcType=VARCHAR}, 
        #{item.inpDay,jdbcType=VARCHAR}, #{item.inpTime,jdbcType=VARCHAR}, #{item.microRef,jdbcType=VARCHAR}, 
        #{item.purchDay,jdbcType=VARCHAR}, #{item.prodId,jdbcType=VARCHAR}, #{item.intRate,jdbcType=DECIMAL}, 
        #{item.accelInt,jdbcType=DECIMAL}, #{item.firstInt,jdbcType=DECIMAL}, #{item.mthInstl,jdbcType=DECIMAL}, 
        #{item.instlCnt,jdbcType=VARCHAR}, #{item.lstInstdy,jdbcType=VARCHAR}, #{item.mthInt,jdbcType=DECIMAL}, 
        #{item.mthPpl,jdbcType=DECIMAL}, #{item.nbrMths,jdbcType=VARCHAR}, #{item.origPurch,jdbcType=DECIMAL}, 
        #{item.remPpl,jdbcType=DECIMAL}, #{item.origInt,jdbcType=DECIMAL}, #{item.totIntCg,jdbcType=DECIMAL}, 
        #{item.remInt,jdbcType=DECIMAL}, #{item.origFee,jdbcType=DECIMAL}, #{item.remFee,jdbcType=DECIMAL}, 
        #{item.transSrc,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.statusDay,jdbcType=VARCHAR}, 
        #{item.employee,jdbcType=VARCHAR}, #{item.credpId,jdbcType=VARCHAR}, #{item.mpType,jdbcType=VARCHAR}, 
        #{item.pauseNbrs,jdbcType=VARCHAR}, #{item.delayMth,jdbcType=VARCHAR}, #{item.currNum,jdbcType=VARCHAR}, 
        #{item.resPpl,jdbcType=DECIMAL}, #{item.interMths,jdbcType=VARCHAR}, #{item.paycfDay,jdbcType=VARCHAR}, 
        #{item.priDldy,jdbcType=VARCHAR}, #{item.dlyDays,jdbcType=VARCHAR}, #{item.etlDay,jdbcType=VARCHAR}, 
        #{item.deduFee,jdbcType=DECIMAL}, #{item.appSdayNew,jdbcType=VARCHAR}, #{item.markDay,jdbcType=VARCHAR}, 
        #{item.remFeey,jdbcType=DECIMAL}, #{item.feePcnt,jdbcType=DECIMAL}, #{item.feeMths,jdbcType=VARCHAR}, 
        #{item.chanelno,jdbcType=VARCHAR}, #{item.mpIrrYr,jdbcType=DECIMAL}, #{item.remPply,jdbcType=DECIMAL}, 
        #{item.resPply,jdbcType=DECIMAL}, #{item.fstInstdy,jdbcType=VARCHAR}, #{item.mthFee,jdbcType=DECIMAL}, 
        #{item.feePcntNew,jdbcType=DECIMAL}, #{item.remInty,jdbcType=DECIMAL}, #{item.instIntfe,jdbcType=DECIMAL}, 
        #{item.txtDate,jdbcType=DATE})
    </foreach>
  </insert>
</mapper>